*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.hero{
    background-color: #FFF4E8;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
 }
 .logo{
    font-size: 25px;
    font-weight: 700;
 }
.option{
    display: flex;
}
.option li{
    list-style-type: none;
}
.option li a{
    text-decoration: none;
    padding-left: 40px;
    color: black;
}
.heroinfo{
    margin: 116px 26% 50px 26%;
    text-align: center;
}
.heroinfo p{
    margin: 20px;
}
.heroinfo button{
    margin: 8px;
    padding: 15px 20px 15px 20px;
    border: 0ch;
    border-radius: 6px;
    background-color: #FF900E;
    font-size: 15px;
    font-weight: 600;
    color: white;
}
.herotitle{
    font-size: 50px;
}

.herotitle h1{
    font-size: 50px;
}
.banner img{
    width: 80%;
}
.banner{
    text-align: center;
    padding-bottom: 45px;
}


.secone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 10% 50px 10%;
}
.imagebox{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 30px;
    width: 100%;
}
.imagebox div img{
    width: 110%;
    will-change: transform;
    transition: transform 450ms;
}
.imagebox div img:hover{
    transition: transform 150ms;
    transform: translateY(-10px);
}
.infobox{
    margin-left: 73px;
    width: 100%;
}
.infotitle h1{
    font-size: 45px;
    font-weight: 500;
    flex-wrap: wrap;
    color: #727272;
 }

 .bar{
    background-color:#FF900E ;
    height: 86px;
    width: 5px;
}
 .infofeature{
    font-size: 45px;
    font-weight: 700;
    color:#FF900E;
 }
 .infobox p{
    margin-top: 24px;
    color: #727272;
}
 .infobox button{
    margin-top: 32px;
    padding: 15px 20px 15px 20px;
    border: 0ch;
    border-radius: 6px;
    background-color: #FF900E;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.infotitle{
    font-size: 45px;
    font-weight: 400;
    color: #727272;
    flex-wrap: wrap;
    width: 90%;
}
.infotitlesec{
    display: flex;
    align-items: center;
    padding-bottom: 2%;
}

.infotitlethree{
    padding-left: 2%;
    font-size: 40px;
    font-weight: 700;
}
.infosection{
    width: 100%;
}

.infocard{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    will-change: transform;
    transition: transform 450ms;
}

.infocard:hover{
    transition: transform 150ms;
    transform: translateY(-10px);
}


.imagesection{
    display: flex;
    align-items: baseline;
    width: 100%;
    padding-left: 5%;
}
.imagesection img{
    width: 95%;
}

.yearbox{
    background-color:#FF900E ;
    text-align: center;
    border-radius: 8px;
    width: 230px;
    height: 20%;
    position: absolute;
    margin-top: 43%;
    margin-left: -2%;
}
.yearbox h1{
    font-size: 50px;
    margin-top: 10%;
    color: white;
}
.yearbox p{
    font-size: 20px;
    color: white;
    margin-bottom: 10%;
}

.factcontainer{
    margin: 10%;
}

.factbody{
    display: flex;
    margin-top: 8%;
    justify-content: center;
    gap: 50px;
}
.box{
    padding: 3%;
    border: 2px solid #FF900E;
    border-radius: 6px;
    text-align: center;
    will-change: transform;
    transition: transform 450ms;
}
.box:hover{
    transition: transform 150ms;
    transform: translateY(-10px);
}
.box img{
    height: 30px;
    padding-bottom: 1%;
}

.box h2{
    padding-bottom: 1%;
}
.sponsorcon{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.sponsorhead p{
    flex-wrap: wrap;
    padding-left: 25%;
    padding-right: 25%;
}
.sponsorbody{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    gap: 5%;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.sponsorbody img{
    height: 40px;
    padding-top: 2%;
}

.footerbox{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding: 3%;
    background-color: #FFF4E7;
    flex-wrap: wrap;
}
@media screen and (max-width:576px) {
    .navbar{
        padding-left: 5%;
        padding-right:5%;
    }
     .logo{
        font-size: 20px;
        font-weight: 700;
     }
    .option{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;

    }
    .option li a{
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    .heroinfo{
        margin: 116px 5% 50px 5%;
        text-align: center;
    }
    .heroinfo p{
        margin: 20px;
    }
    .banner img{
        width: 90%;
    }

    .banner{
        text-align: center;
        padding-bottom: 5%;
    }
    .secone{
        display: flex;
        flex-direction: column;
        margin: 50px 5% 50px 5%;
    }

    .imagebox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        width: 100%;
        margin-bottom: 50px;
    }
    .imagebox div img{
        width: 100%;
    }
    .infobox{
        margin-left: 60px;
        margin-bottom: 50px;
    }
    .imagesection{
    margin-top: 50px;
    }
    .factbody{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        margin-top: 8%;
        justify-content: center;
        gap: 20px;
    }
    .box{
        padding-bottom: 5%;
        padding-top: 5%;
        border-radius: 10px;
    }
    .box img{
        height: 40px;
        padding-bottom: 1%;
    }

    .yearbox{
        background-color:#FF900E ;
        text-align: center;
        border-radius: 8px;
        width: 160px;
        height: 15%;
        position: absolute;
        margin-top: 104%;
        margin-left: -5%;
    }
    .yearbox h1{
        font-size: 25px;
        margin-top: 13%;
        color: white;
    }
    .yearbox p{
        font-size: 15px;
        color: white;
        margin-bottom: 10%;
    }
    .sponsorhead p{
        padding-left: 15%;
        padding-right: 15%;
    }
    .sponsorbody{
        margin-top: 5%;
    }
    .sponsorbody img{
        height: 35px;
        padding-top: 5%;
        gap: 30px;
    }
}


@media screen and (min-width:577px) and (max-width:992px) {
        .navbar{
            padding-left: 10%;
            padding-right: 10%;
        }
         .logo{
            font-size: 30px;
            font-weight: 700;
         }
        .option{
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;
    
        }
        .option li a{
            text-decoration: none;
            color: black;
            padding: 10px;
        }
        .heroinfo{
            margin: 116px 5% 50px 5%;
            text-align: center;
        }
        .heroinfo p{
            margin: 20px;
        }
        .banner img{
            width: 90%;
        }
    
        .banner{
            text-align: center;
            padding-bottom: 5%;
        }
        .secone{
            display: flex;
            flex-direction: column;
            margin: 50px 5% 50px 5%;
        }
        .infocardsec{
            display: grid;
            grid-template-columns: repeat(2,2fr);
            gap: 30px;
        }
        .imagebox{
            display: grid;
            grid-template-columns: repeat(2,2fr);
            gap: 10px;
            width: 100%;
            margin-bottom: 50px;
        }
        .imagebox div img{
            width: 100%;
        }
        .infobox{
            margin-left: 60px;
            margin-bottom: 50px;
        }
        .imagesection{
        margin-top: 50px;
        }
        .factbody{
            display: grid;
            grid-template-columns: repeat(2,2fr);
            margin-top: 8%;
            justify-content: center;
            gap: 20px;
        }
        .box{
            padding-bottom: 5%;
            padding-top: 5%;
            border-radius: 10px;
        }
        .box img{
            height: 40px;
            padding-bottom: 1%;
        }
    
        .sponsorhead p{
            padding-left: 15%;
            padding-right: 15%;
        }
        .sponsorbody{
            margin-top: 5%;
        }
        .sponsorbody img{
            height: 35px;
            padding-top: 5%;
            gap: 30px;
        }

        .yearbox{
            background-color:#FF900E ;
            text-align: center;
            border-radius: 8px;
            width: 230px;
            height: 20%;
            position: absolute;
            margin-top: 104%;
            margin-left: -5%;
        }
        .yearbox h1{
            font-size: 35px;
            margin-top: 13%;
            color: white;
        }
        .yearbox p{
            font-size: 15px;
            color: white;
            margin-bottom: 10%;
        }

}